@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --shadow: 0 0 55px 1px #333333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #333333;
}

body,
#app {
    min-height: 100vh;
    min-width: 100%;
    font-family: "Poppins", sans-serif;
    transition: 0.5s;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.heading {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #333333;
}

.click-me {
    cursor: pointer;
    border: none;
    padding: 8px 22px;
    border-radius: 18px;
    font-size: 20px;
    transition: 0.5s;
    background-color: #333333;
    color: #fff;
    transition-property: box-shadow background-color;
}

.click-me:hover {
    box-shadow: var(--shadow);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 18px;
    padding: 38px;
    transition: 0.5s;
}

.container:hover {
    box-shadow: 0 2px 32px 15px #ffffff1d;
}

.code {
    margin: 12px auto 35px auto;
    font-size: 20px;
}

.code span {
    background-color: #333333;
    padding: 8px;
    margin-left: 8px;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    transition: 0.5s;
}

.code i {
    width: 0px;
    opacity: 0;
    margin: 0;
}

.code span:hover > i {
    animation: showIcon 0.5s ease-in forwards;
    width: auto;
}

.notification {
    position: absolute;
    min-width: 80px;
    max-width: 240px;
    min-height: 20px;
    top: 40px;
    right: 40px;
    background-color: #ffffffa0;
    border-radius: 4px;
    z-index: 3;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 6px;
    box-shadow: 0 0 25px 5px #ffffff4f;
    transition: 0.5s;
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
}

.notification p {
    text-align: left;
    width: 70%;
}

.notification-color {
    min-width: 35px;
    min-height: 35px;
    margin: 6px 12px 6px 6px;
    border-radius: 4px;
    background-color: #333;
}

@media (max-width: 768px) {
    .container {
        margin: 25px;
    }

    .heading {
        font-size: 30px;
        margin: auto auto 20px auto;
        text-align: center;
    }

    .click-me,
    .code {
        font-size: 16px;
    }
}

@keyframes showIcon {
    from {
        opacity: 0;
        width: 0px;
        margin: 0;
    }

    30% {
        width: auto;
        opacity: 0;
        margin: auto 10px;
    }

    to {
        opacity: 1;
        margin: auto 4px auto 6px;
    }
}
